.filter-by-word {
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.filter-by-word li.active{
  background-color: #eaf15d;
  border-color: #eaf15d
}
.change_view .btn.active{
  background-color: #eaf15d;
  border-color: #eaf15d;
}
.card {
  padding: 10px;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
}
.user-img {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.profile-img {
  border-radius: 5px;
  width: 400px;
  height: 195px;
  filter: gray;
  transition: all 0.8s ease-in-out;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}
.profile-img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.filter-by-word li {
  display: inline;
  padding: 5px;
  margin: 0 8px;
  background-color: whitesmoke;
  border: 1px solid aliceblue;
  border-radius: 10px;
}
.noresult {
  color: black;
  background: white;
}
.card-view-body {
  padding: 10px 0 0 0;
}
.card-view-title {
  text-align: center;
}

.card-view-image {
  border-radius: 5px;
  filter: gray;
  transition: all 0.8s ease-in-out;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}
.card-view-image:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.user-filter{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.filters{
  padding: 5px;
}
.status-filter span{
  margin: 0px 0 0 10px;
}
.user-filter hr {
  margin: 10px 0;
}
.age-filter{
  display: flex;
  flex-direction: row;
}
input[type=range]{
  width: -webkit-fill-available;
}
.min-age{
  margin: 0 5px 0 0;
}
.max-age{
  margin: 0 0 0 5px;
}
